<!DOCTYPE html>
<html ng-app='cpdApp'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corporate Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% load staticfiles %} 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    
    <script src="{% static 'cpdashboard/lib/angular/js/angular.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="{% static 'cpdashboard/lib/angular/js/angular-route.js' %}"></script>
    <script src="{% static 'cpdashboard/app/routes.js' %}"></script>
    <!-- <script src="{% static 'cpdashboard/app/services.js' %}"></script> -->
    <script src="{% static 'cpdashboard/app/controller.js' %}"></script>


     <!-- Google fonts brand-name-->
    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    <!-- Google fonts signup and login-->
    <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
   
    <!-- Bootstrap -->
    
    <link href="{%  static 'cpdashboard/lib1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'cpdashboard/lib/themes/bootstrap.css' %}" rel="stylesheet">

    <!--Font Awesome-->
    <link href="{%  static 'cpdashboard/lib/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">

     <!-- Metis menu-->
    <link href="{%  static 'cpdashboard/lib/metismenu/css/metismenu.min.css' %}" rel="stylesheet">

    <!-- Jasny-bootstrap -->
    <link href="{%  static 'cpdashboard/lib/jasny-bootstrap/css/jasny-bootstrap.min.css' %}" rel="stylesheet">

     <!--Custom style sheets -->
    <link href="{%  static 'cpdashboard/css/animate.css' %}" rel="stylesheet">
    <link href="{%  static 'cpdashboard/css/style.css' %}" rel="stylesheet">
    
    <!--Angularjs-->
    
   

    
 
    

</head>
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to Execution Edge Strategy Monitor</h2>
                <p>
                    From strategy through execution, Execution Edge helps clients build their next competitive advantage by unearthing and defining growth opportunities while helping to align their corporate strategy with their vision in an executable manner.
                </p>

                <p>
                    We are differentiated by a deep understanding of our chosen markets, multi-industry and multi-disciplinary leadership experience and delivery of superior value to our clients. We enable our clients’ success by leveraging these unique capabilities.
                </p>

                <p>
                   
                </p>

                <p>
                    <small>We go beyond great thinking, we get the right work done.</small>
                </p>

            </div>
            <div class="col-md-6">
            {% if warning %}
            <div class="alert alert-danger" role="alert">
                <strong>{{warning}}</strong> 
            </div>
            {% endif %}
                <div class="ibox-content">
                    <form class="m-t" role="form" action="{% url 'login' %}" method="post" autocomplete="off">
                     {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <button type="submit" class="btn btn-default block full-width m-b" style="background-color:black; color: red; font-weight: bold;">Login</button>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="{% url 'register' %}">Create an account</a>
                    </form>
                    <p class="m-t">
                        <small><strong><em>We make strategy work for our clients &copy; 2016</em></strong></small>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Execution Edge Limited
            </div>
            <div class="col-md-6 text-right">
                <small>© 2016</small>
            </div>
        </div>
    </div>

</body>
</html>
